@charset "UTF-8";
/*!
 _ _  _
| | || | ticket-desktop
| | || | INTERPARK UI Development Team
`___'|_| v3.4.1

*/
.wrap * {
  text-align: left;
  vertical-align: top;
}

.rankingContent {
  width: 960px;
  margin: 0 auto;
}

.rankingTitle {
  height: 31px;
  padding-top: 49px;
  background: #fff;
}

.rankingTitle .rankingContent {
  position: relative;
}

.rankingTitle .rankingContent a.rankingShow {
  position: absolute;
  right: 17px;
  bottom: -8px;
  display: block;
  height: 22px;
  padding-bottom: 8px;
  line-height: 22px;
  text-decoration: none;
  color: #33333b;
  font-size: 14px;
}

.rankingTitle .rankingContent a.rankingShow img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 6px;
}

.rankingDetailLayer {
  width: 225px;
  border: 1px solid #999;
  position: absolute;
  background: #fff;
  display: none;
  top: 33px;
  right: 50%;
  margin-right: -473px;
  z-index: 1;
  text-align: left;
}

.rankingDetailLayer.datePop {
  width: 300px;
  right: 0;
  top: 62px;
  margin: 0;
}

.rankingDetailLayer .layerArrow {
  width: 9px;
  height: 5px;
  position: absolute;
  top: -6px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/layerArrow.png") 0 0 no-repeat;
  right: 95px;
}

.rankingDetailLayer .popClose {
  display: block;
  width: 12px;
  height: 12px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/calClose.png") 0 0 no-repeat;
  position: absolute;
  top: 10px;
  right: 9px;
}

.rankingDetailLayer .popTitle {
  height: 35px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  line-height: 35px;
  text-indent: 16px;
  font-size: 14px;
  background: #f6f6f6;
  color: #444;
}

.rankingDetailLayer .popTitle:first-child {
  border-top: 0;
}

.rankingDetailLayer .popContent {
  padding: 7px 16px 14px;
  color: #666;
  font-size: 11px;
  line-height: 15px;
}

.rankingDetailLayer .popContent span {
  color: #999;
}

.rankingDetailLayer .popContent .red {
  color: #e82828;
}

.rankingDetailLayer .popContent div {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
  margin: 8px 0;
}

.rankingDetailTab {
  height: 67px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 2px solid #666;
  background: #f9f9f9;
}

.rankingDetailTab .rankingContent {
  position: relative;
}

.rankingDetailTab ul {
  position: absolute;
  top: 0;
  left: 0;
}

.rankingDetailTab ul li {
  width: 105px;
  height: 67px;
  float: left;
  border-left: 1px #e5e5e5 solid;
}

.rankingDetailTab ul li.genre1 {
  border-left: 0;
}

.rankingDetailTab ul li a {
  display: block;
  height: 68px;
  line-height: 68px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #a9a9a9;
  font-weight: bold;
}

.rankingDetailTab ul li.genre1 a {
  background-position: 0 0;
}

.rankingDetailTab ul li.genre2 a {
  background-position: -100px 0;
}

.rankingDetailTab ul li.genre3 a {
  background-position: -200px 0;
}

.rankingDetailTab ul li.genre4 a {
  background-position: -300px 0;
}

.rankingDetailTab ul li.genre5 a {
  background-position: -400px 0;
}

.rankingDetailTab ul li.genre6 a {
  background-position: -539px 0;
}

.rankingDetailTab ul li.genre7 a {
  background-position: -679px 0;
}

.rankingDetailTab ul li.genre8 a {
  background-position: -819px 0;
}

.rankingDetailTab ul li.selected {
  position: relative;
}

.rankingDetailTab ul li.selected a {
  position: absolute;
  top: -1px;
  left: 0;
  background-color: #fff;
  border: 2px #666 solid;
  border-bottom: 0;
  color: #000;
}

.rankingDetailTop {
  height: 81px;
  border-bottom: 1px solid #d3d3d3;
  background: #fff;
}

.rankingDetailTop .detailTopLeft {
  width: 339px;
  float: left;
  padding-top: 21px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.rankingDetailTop .detailTopLeft.first {
  padding-top: 9px;
}

.rankingDetailTop .detailTopLeft .genreSelect {
  border: 1px solid #b8b8b8;
  width: 179px;
  height: 38px;
  background: #fff url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/SelectboxBg.gif") 0 0 repeat-x;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.rankingDetailTop .detailTopLeft .genreSelect a.selectArrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/selectArrow.png") right 0 no-repeat;
}

.rankingDetailTop .detailTopLeft .genreSelect.open {
  background-position: right -38px;
  border: 1px solid #999;
}

.rankingDetailTop .detailTopLeft .genreSelect.open a.selectArrow {
  background-position: right -38px;
}

.rankingDetailTop .detailTopLeft .genreSelect > span {
  font-size: 16px;
  color: #555;
  line-height: 37px;
  padding-left: 16px;
}

.rankingDetailTop .detailTopLeft .genreSelect ul {
  width: 179px;
  border: 1px solid #999;
  border-top: 1px solid #d0d0d0;
  position: absolute;
  left: -1px;
  top: 38px;
  padding: 9px 0;
  background: #fff;
  display: none;
}

.rankingDetailTop .detailTopLeft .genreSelect.open ul {
  display: block;
}

.rankingDetailTop .detailTopLeft .genreSelect.open > span {
  color: #828282;
}

.rankingDetailTop .detailTopLeft .genreSelect ul li {
  height: 30px;
  text-indent: 16px;
}

.rankingDetailTop .detailTopLeft .genreSelect ul li a {
  display: block;
  line-height: 30px;
  font-size: 16px;
  color: #555;
  text-decoration: none;
}

.rankingDetailTop .detailTopLeft .genreSelect ul li a:hover {
  background: #f3f3f3;
}

.rankingDetailTop .detailTopLeft .shadow {
  width: 182px;
  height: 41px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/shadowBg.png") 0 0;
  position: absolute;
  right: 157px;
  top: 21px;
}

.rankingDetailTop .detailTopLeft .shadow.open {
  height: 150px;
}

.rankingDetailTop .detailTopMid {
  width: 317px;
  float: left;
  padding-top: 25px;
  position: relative;
  z-index: 2;
}

.rankingDetailTop .detailTopMid .shadow {
  width: 206px;
  height: 182px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/shadowBg.png") 0 0;
  position: absolute;
  right: 126px;
  bottom: -184px;
  display: none;
}

.rankingDetailTop .detailTopMid .shadow.week {
  bottom: -200px;
  height: 195px;
  right: 139px;
}

.rankingDetailTop .detailTopMid .shadow.month {
  right: 161px;
  bottom: -158px;
  height: 150px;
}

.rankingDetailTop .detailTopMid .shadow.year {
  width: 103px;
  height: 198px;
  right: 177px;
  bottom: -199px;
}

.rankingDetailTop .detailTopMid b {
  font-size: 25px;
  color: #000;
}

.rankingDetailTop .detailTopMid b a {
  color: #e83535;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/calendarArrow.gif") right 3px no-repeat;
  padding-right: 28px;
  text-decoration: none;
}

.rankingDetailTop .detailTopMid b a.open {
  background-image: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/calendarArrow_open.gif");
}

.rankingDetailTop .detailTopMid b.year {
  padding-left: 27px;
}

.rankingDetailTop .detailTopMid .calendar {
  width: 203px;
  border: 1px solid #999;
  background: #fff;
  position: absolute;
  padding-bottom: 7px;
  display: block;
  top: 59px;
  padding-top: 14px;
  display: none;
  z-index: 1;
  font-size: 12px;
}

.rankingDetailTop .detailTopMid .dayCal {
  left: -5px;
}

.rankingDetailTop .detailTopMid .calendar .calClose {
  display: block;
  width: 12px;
  height: 12px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/calClose.png") 0 0 no-repeat;
  position: absolute;
  top: 9px;
  right: 9px;
}

.rankingDetailTop .detailTopMid .calendar .nowMonth {
  height: 15px;
  text-align: center;
  margin-bottom: 9px;
}

.rankingDetailTop .detailTopMid .calendar .nowMonth div {
  font-size: 15px;
  font-weight: bold;
  line-height: 13px;
  color: #555;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 4px;
}

.rankingDetailTop .detailTopMid .calendar .nowMonth a.prevMonth {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 15px;
  height: 15px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/monthMove.gif") 0 -15px no-repeat;
}

.rankingDetailTop .detailTopMid .calendar .nowMonth a.prevMonth.on {
  background-position: 0 0;
}

.rankingDetailTop .detailTopMid .calendar .nowMonth a.nextMonth {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 15px;
  height: 15px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/monthMove.gif") -15px -15px no-repeat;
}

.rankingDetailTop .detailTopMid .calendar .nowMonth a.nextMonth.on {
  background-position: -15px 0;
}

.rankingDetailTop .detailTopMid .dayCal .dates {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 27px;
  padding: 0 9px 0 11px;
  margin-bottom: 6px;
  background: #f6f6f6;
}

.rankingDetailTop .detailTopMid .dayCal .dates div {
  font-weight: bold;
  line-height: 27px;
  width: 24px;
  margin-right: 2px;
  float: left;
  height: 27px;
  color: #888;
  text-align: center;
}

.rankingDetailTop .detailTopMid .dayCal .daysWrap {
  width: 180px;
  margin: 0 auto;
  overflow: hidden;
}

.rankingDetailTop .detailTopMid .dayCal .days {
  width: 182px;
}

.rankingDetailTop .detailTopMid .dayCal .days li {
  width: 24px;
  padding-right: 2px;
  height: 18px;
  float: left;
  margin-bottom: 2px;
}

.rankingDetailTop .detailTopMid .dayCal .days li a {
  display: block;
  width: 24px;
  height: 18px;
  text-align: center;
  color: #323232;
  text-decoration: none;
}

.rankingDetailTop .detailTopMid .dayCal .days li a:hover {
  background: #fce4e4;
}

.rankingDetailTop .detailTopMid .dayCal .days li.red a {
  color: #e82828;
}

.rankingDetailTop .detailTopMid .dayCal .days li.blue a {
  color: #2c8aca;
}

.rankingDetailTop .detailTopMid .weekCal {
  left: -20px;
}

.rankingDetailTop .detailTopMid .weekCal .days li.ov,
.rankingDetailTop .detailTopMid .weekCal .days li.ov a {
  background: #fce4e4;
}

.rankingDetailTop .detailTopMid .weekCal .days li.selected {
  background: #f17e7e;
}

.rankingDetailTop .detailTopMid .dayCal .days li.selected a {
  background: #f17e7e;
  color: #fff;
  font-weight: bold;
}

.rankingDetailTop .detailTopMid .dayCal .days li.noData a {
  color: #d0d0d0;
  cursor: default;
}

.rankingDetailTop .detailTopMid .dayCal .days li.noData a:hover {
  background: #fff;
}

.rankingDetailTop .detailTopMid .calendar .recentRanking {
  padding: 0 11px;
  text-align: right;
}

.rankingDetailTop .detailTopMid .calendar .recentRanking a {
  text-decoration: underline;
  color: #7a7a7a;
  font-size: 11px;
}

.rankingDetailTop .detailTopMid .monthCal {
  left: -44px;
}

.rankingDetailTop .detailTopMid .monthCal ul.months {
  border-left: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  width: 180px;
  height: 84px;
  margin: 0 auto 8px;
}

.rankingDetailTop .detailTopMid .monthCal ul.months li {
  width: 44px;
  height: 27px;
  float: left;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.rankingDetailTop .detailTopMid .monthCal ul.months li a {
  display: block;
  width: 44px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  color: #323232;
  text-decoration: none;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/monthBg.gif") 0 0 no-repeat;
}

.rankingDetailTop .detailTopMid .monthCal ul.months li a:hover {
  background: #fce4e4;
}

.rankingDetailTop .detailTopMid .monthCal ul.months li.selected a {
  background: #f17e7e;
  color: #fff;
  font-weight: bold;
}

.rankingDetailTop .detailTopMid .monthCal ul.months li.noData a {
  color: #888;
  cursor: default;
  background: #f4f4f4;
}

.rankingDetailTop .detailTopMid .monthCal ul.months li.noData a:hover {
  background: #f4f4f4;
}

.rankingDetailTop .detailTopMid .yearCal {
  width: 100px;
  padding: 0;
  left: 40px;
}

.rankingDetailTop .detailTopMid .yearCal .calClose {
  right: 6px;
  z-index: 1;
}

.rankingDetailTop .detailTopMid .yearCal .years {
  width: 100px;
  height: 163px;
}

.rankingDetailTop .detailTopMid .yearCal .years a {
  display: block;
  height: 28px;
  padding: 2px 0;
  width: 100px;
  text-decoration: none;
}

.rankingDetailTop .detailTopMid .yearCal .years a span {
  display: block;
  text-indent: 10px;
  width: 100px;
  height: 28px;
  line-height: 28px;
  font-size: 15px;
  color: #555 !important;
}

.rankingDetailTop .detailTopMid .yearCal .years a:hover span {
  background: #f3f3f3;
}

.rankingDetailTop .detailTopMid .yearCal .years .viewport {
  width: 100px;
  height: 163px;
  overflow: hidden;
  position: relative;
}

.rankingDetailTop .detailTopMid .yearCal .years .overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

.rankingDetailTop .detailTopMid .yearCal .years .scrollbar {
  position: absolute;
  background-position: 0 0;
  float: right;
  width: 10px;
  right: 6px;
  top: 39px;
  z-index: 1;
}

.rankingDetailTop .detailTopMid .yearCal .years .track {
  height: 100%;
  width: 10px;
  position: relative;
  padding: 0 1px;
}

.rankingDetailTop .detailTopMid .yearCal .years .thumb {
  height: 54px;
  width: 10px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #d4d4d4 url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/thumb.gif") no-repeat 50% 100%;
}

.rankingDetailTop .detailTopMid .yearCal .years .thumb .end {
  overflow: hidden;
  height: 5px;
  width: 10px;
  background: #d4d4d4 url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/thumb.gif") no-repeat 50% 0%;
}

.rankingDetailTop .detailTopMid .yearCal .years .disable {
  display: none;
}

.rankingDetailTop .detailTopRight {
  width: 304px;
  float: left;
  position: relative;
  z-index: 1;
}

.rankingDetailTop .detailTopRight .popShadow {
  width: 303px;
  height: 269px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/shadowBg.png") 0 0;
  position: absolute;
  right: -1px;
  bottom: -331px;
  display: none;
}

.rankingDetailTop .detailTopRight ul {
  position: absolute;
  left: 0;
  top: 32px;
}

.rankingDetailTop .detailTopRight ul li {
  width: 75px;
  float: left;
  height: 50px;
  padding-left: 1px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/lineDivide.gif") 0 7px no-repeat;
}

.rankingDetailTop .detailTopRight ul li:first-child {
  background: none;
}

.rankingDetailTop .detailTopRight ul li a {
  display: block;
  width: 75px;
  height: 49px;
  color: #5d5d5d;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  background: #fff !important;
}

.rankingDetailTop .detailTopRight ul li.selected a {
  border-bottom: 5px solid #000;
  height: 45px;
  font-weight: bold;
  color: #000;
  text-align: left;
  text-indent: 12px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/infoArrow.gif") 45px 1px no-repeat !important;
}

.detailListHeader {
  height: 33px;
  border-bottom: 1px solid #e7e7e7;
  background: #f9f9f9;
  position: relative;
}

.detailListHeader .popShadow {
  width: 228px;
  height: 255px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/shadowBg.png") 0 0;
  position: absolute;
  right: 50%;
  margin-right: -392px;
  top: 33px;
  display: none;
}

.detailListHeader table td {
  color: #a5a5a5;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  height: 33px;
  vertical-align: middle;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/lineDivide.gif") left center no-repeat;
}

.detailListHeader table td:first-child {
  background: none;
}

.detailListHeader table td a img {
  position: relative;
  top: 0;
  vertical-align: top;
}

.rankBody {
  border-bottom: 1px solid #e6e6e6;
}

.rankBody.top3 {
  background: #fffdec;
}

.detailBodyList td {
  height: 92px;
  vertical-align: middle;
  text-align: center;
  color: #666867;
}

.detailBodyList td.prds {
  text-align: left;
  padding: 10px 0;
}

.detailBodyList td.prdDuration {
  padding-left: 19px;
  text-align: left;
  font-size: 13px;
}

.detailBodyList td.prdDuration div {
  padding-left: 10px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/redCheck.gif") 0 4px no-repeat;
  color: #e83535;
  font-size: 13px;
  height: 15px;
  margin-bottom: 1px;
}

.detailBodyList td.prdDuration div.none {
  background: none;
}

.detailBodyList td .prdImg {
  display: block;
  width: 75px;
  height: 96px;
  border: 1px solid #e3e3e3;
  float: left;
  margin-right: 11px;
}

.detailBodyList td .prdImg img {
  width: 75px;
  height: 96px;
}

.detailBodyList td .ranks {
  width: 50px;
  float: left;
}

.detailBodyList td .ranks i {
  display: block;
  height: 29px;
  width: 38px;
  text-align: center;
  color: #444;
  font-size: 24px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/rankBottom.gif") center bottom no-repeat;
  padding-top: 22px;
  margin-bottom: 2px;
  font-style: italic;
}

.detailBodyList td .ranks .rankMove {
  width: 26px;
  font-weight: bold;
  text-align: center;
  padding-left: 6px;
  font-size: 12px;
}

.detailBodyList td .ranks .rankMove.rankDown {
  color: #6292f5;
}

.detailBodyList td .ranks .rankMove.rankUp {
  color: #ff5b3b;
}

.detailBodyList td .ranks .rankMove.new {
  padding-left: 7px;
}

.detailBodyList td .ranks .rankMove img {
  position: relative;
  top: 1px;
  padding-right: 2px;
}

.detailBodyList td .prdInfo {
  float: left;
  vertical-align: top;
}

.detailBodyList td .prdInfo .prdLabel {
  height: 19px;
  background: #fff url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/roundLeft.gif") 0 0 no-repeat;
  padding-left: 9px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 3px;
}

.detailBodyList td .prdInfo .prdLabel.none {
  background: none;
}

.detailBodyList td .prdInfo .prdLabel div {
  height: 17px;
  border-top: 1px solid #434343;
  border-bottom: 1px solid #434343;
  position: relative;
  padding-right: 12px;
  line-height: 15px;
  color: #000;
  padding-left: 3px;
}

.detailBodyList td .prdInfo .prdLabel div img {
  position: absolute;
  right: 0;
  top: -1px;
}

.detailBodyList td .prdInfo a {
  color: #666867;
  font-size: 14px;
  display: block;
  text-decoration: none;
}

.detailBodyList td .prdInfo a b {
  display: block;
  font-size: 18px;
  color: #444;
  margin-bottom: 2px;
  font-weight: bold;
  width: 410px;
  height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detailBodyList td b {
  font-size: 18px;
  font-weight: normal;
  color: #444;
}

.detailBodyList td .sellLabel {
  width: 34px;
  height: 48px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/sellLabel.png") 0 0 no-repeat;
}

.detailBodyList td .sellLabel.sell2 {
  background-position: -34px 0;
}

.detailBodyList td .sellLabel.sell3 {
  background-position: -68px 0;
}

.detailBodyList td .sellLabel.sell4 {
  background-position: -102px 0;
}

.detailBodyList td .sellLabel.sell5 {
  background-position: -136px 0;
}

.detailBodyList td .sellLabel.sell6 {
  background-position: -170px 0;
}

.detailBodyList td .seats {
  width: 52px;
  height: 22px;
  background: url("//ticketimage.interpark.com/TicketImage/2016/20160308_ranking/list/img/seats.gif") 0 0 no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.detailBodyList td .seat1 {
  background-position: 0 0;
}

.detailBodyList td .seat2 {
  background-position: 0 -22px;
}

.detailBodyList td .seat3 {
  background-position: 0 -22px;
}
